.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 7%;
  background-color: rgba(82, 102, 212, 0.63);
  background-image: url('../../assets/home/giu_zambot_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.header {
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 100%;
}

.content {
  background-color: var(--back_color);
}

.carousel div {
  height: 40vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel div.carousel1 {
  background-image: url('../../assets/home/saudacao.png');
}

.carousel div.carousel2 {
  background-image: url('../../assets/home/react.png');
}

.carousel div.carousel3 {
  background-image: url('../../assets/home/flutter.png');
}

.carousel div.carousel4 {
  background-image: url('../../assets/home/back.png');
}

.sobre {
  height: 110vw;
  background-image: url('../../assets/home/curriculo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cursos {
  height: 50vw;
  background-image: url('../../assets/home/cursos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  color: var(--primary_color);
  background-color: var(--back_color);
  text-align: center;
  font-size: 130%;
}

.profileGame {
  width: 100vw;
  height: calc(100vh - 140px);
}

.videoResponsive {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoResponsive iframe {
  height: 100%;
  width: 100%;
  border: none;
}
