@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back_color: rgb(49, 58, 88);
  --primary_color: azure;
  --icon-size-md: 20px;
  --icon-size-sm: 15px;
}

#root {
  display: flex;
}


body {
  color: var(--primary_color);
  flex: 1;
  background-color: var(--back_color);
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

.profileGame {
  width: 100%;
  height: 100%;
}
